# Django
SECRET_KEY=django-insecure-change-me-in-production
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0

# Database
SCHOOL_ADMIN_DB_NAME=eduflow
SCHOOL_ADMIN_DB_USER=root
SCHOOL_ADMIN_DB_PASSWORD=your_db_password
SCHOOL_ADMIN_DB_HOST=localhost
SCHOOL_ADMIN_DB_PORT=3306

# Razorpay
RAZORPAY_KEY_ID=rzp_test_SjFQrje84CtGYa
RAZORPAY_KEY_SECRET=XRdfRiZUd9G7eN3SehXwtJfc
RAZORPAY_CURRENCY=INR
RAZORPAY_COMPANY_NAME=EduFlow

# AWS S3 media storage
USE_S3_MEDIA=False
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_STORAGE_BUCKET_NAME=your_s3_bucket_name
AWS_S3_REGION_NAME=ap-south-1
AWS_S3_CUSTOM_DOMAIN=
AWS_S3_ENDPOINT_URL=https://s3.ap-south-1.amazonaws.com
AWS_S3_ADDRESSING_STYLE=virtual
AWS_QUERYSTRING_AUTH=True
